<!doctype html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
    />
    {{@if(it.prod)}} 
      <script type='module' src='/dist/bundle.js'></script>
    {{#else}} 
      <script type='module' src='src/static/client.ts'></script>
    {{/if}}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <title>Hono🔥 + HTMX + Web Components</title>
  </head>
  <body
    class="flex h-screen w-full flex-col items-center justify-center gap-4 p-4"
  >
    <h1 class="text-4xl font-bold">Hono🔥 + HTMX + Web Components!!</h1>
    <deleted-todos></deleted-todos>
    hej hej!!
  </body>
</html>
