<!DOCTYPE html>
<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
            charset="UTF-8"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.3"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>
        <title>Hono🔥 + HTMX + Web Components</title>
    </head>
    <body
        class="flex flex-col justify-center items-center w-full h-screen p-4 gap-4"
    >
        <h1 class="text-4xl font-bold">Hono🔥 + HTMX + Web Components</h1>
        <script type="module" src="/dist/bundle.js"></script>
    </body>
</html>
