<!DOCTYPE html>
<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
            charset="UTF-8"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.3"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>
        <title>Hono🔥 + HTMX + Web Components</title>
    </head>
    <body
        class="flex flex-col justify-center items-center w-full h-screen p-4 gap-4"
    >
        <h1 class="text-4xl font-bold">Hono🔥 + HTMX + Web Components</h1>
        <counter-component></counter-component>
        <my-component>
            <h1 slot="apa" class="border-solid border-2 border-sky-500">
                Hi this is a named slot
            </h1>
            <div class="border-solid border-2 border-violet-500">
                <h1 class="font-bold text-red-500"> This is not </h1>
                <h1>a name slot</h1>
                Random text with no HTML tag
            </div>
        </my-component>
        <noshadow-component name="#cool-div-tag2">
            <h1 id="cool-h1-tag" class="text-cyan-500">Trying to add in children</h1>
            <div id="cool-div-tag" class="p-2 border-solid border-2 border-purple-500">child 1</div>
            <div id="cool-div-tag2" class="p-2 border-solid border-2 border-purple-500">child 2</div>
        </noshadow-component>
        {{it.title}}
        {{@includeFile('includeFile.html', it) /}}
        <script type="module" src="dist/bundle.js"></script>
    </body>
</html>
